<div class="navbar">
    <ul class="nav">
        <li>
            @Html.ActionLink("Vidly", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </li>
        <li>
            @Html.ActionLink("Customers", "Index", "Customers", new { area = "" }, new { @class = "navbar-brand" })
        </li>
        <li>
            @Html.ActionLink("Movies", "Index", "Movies", new { area = "" }, new { @class = "navbar-brand" })
        </li>
        <li>
            @Html.ActionLink("New Rental","New", "Rentals", new { area = "" }, new { @class="navbar-brand" })
        </li>
    </ul>
@Html.Partial("_LoginPartial")
</div>

